<div class="blog__panel xs-my-40">
  <div class="xs-p-20 sm-p-40">
    <div class="t-h2 xs-pb-20">
      A case for goliath
    </div>
    <div class="xs-py-20 sm-py-40 xs-t-center">
      <img class="framework xs-mx-10" src="http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200">
      <img class="framework xs-mx-10" src="http://www.w3schools.com/angular/pic_angular.jpg">
      <img class="framework xs-mx-10" src="http://www.theaccidentalgeek.com/Portals/0/Blog/Files/1/188/Windows-Live-Writer-An-Introduction-to-KnockoutJS--Part-2_34F0-logo_4.png">
    </div>
    <div class="xs-pb-10">
      I've been hearing and reading a lot of negative attitudes towards big heavy frameworks like Ember, Angular and even <a target="_blank" href="http://vanilla-js.com/">jQuery</a>.
      It seems like there's a shift towards vanilla JS in the wider javascript community, using or deriving from node to simplify things
      (see <a target="_blank" href="http://duojs.org/">Duo</a> or <a target="_blank" href="http://browserify.org/">Browserify</a> for examples of what I mean).
    </div>
    <div class="xs-pb-10">
      There are even those out there that are vehemently against using anything other than vanilla, claiming that developers should
      just man up and take charge of maintaining browser compatibility, as it is &quot;not that hard&quot;. Apparently, most people use modern
      browsers; please tell that to the ~12&percnt; of my current user base still using non-HTML5 compliant browsers.
    </div>
    <div class="xs-pb-10">
      That's not to say that they don't have a point either. ES5 shims are pretty solid, easy to find and the javascript community is very open source.
      There are plenty of package managers out there with massive ecosystems of web components using almost vanilla that work even on IE6
      with no shims at all. But I have grown to believe that there is always the right tool for the job.
    </div>
    <div class="xs-pb-10">
      This rings very true for incredibly large, complex web applications &amp; SPAs. You're insane if you attempt these things without
      at least using jQuery, and you're setting up the maintainers of this behemoth, spaghetti code base to fail. Of course, you could very well
      do the same using frameworks! but doing so is a much harder task to accomplish.
    </div>
    <div class="xs-pb-10">
      Some might spout crap about the performance of these frameworks. &quot;ZOMG look I saved 20ms of cpu time with only 300 extras lines of hand-rolled code&quot;.
      They do have a point; the performance is generally much, much worse. But we live in an age where our smart phones are nearly as powerful as desktops,
      some more so. The cpu &amp; memory usage that a language and/or framework takes up is growing more and more irrelevant in comparison to the resources
      available. It's time to move on, start pumping out awesome software in minimal time frames because the web is fast changing - it might not be long
      until the good ol' html/js/css combo becomes <a target="_blank" href="https://polymer-designer.appspot.com/">obsolete</a>, at least for BAU development.
    </div>
    <div class="xs-pb-10">
      Like I said, there is always the right tool for the job. Don't make it hard on yourself by omitting jQuery so that you can boast that your app has
      maximum performance. By the same token, don't pick up Angular just so that you can bind click events in markup with ease. Use your development experience and
      savviness to determine what to use and don't be afraid to refactor or even rewrite if it is fitting. You will not be judged by the tools
      you use but by the code you've written. And you can write bad code in any context.
    </div>
    <div class="xs-pt-10 blog__timestamp">
      <i>- March 19, 2015</i>
    </div>
    <div class="xs-pt-20">
      Back to the <a class="hoverhand" ui-sref="blog.home">blog?</a>
    </div>
  </div>
</div>