<div class="blog__panel xs-my-40">
  <div class="xs-p-20 sm-p-40">
    <div class="t-h2">
      Node, Semver & package management
    </div>
    <div class="xs-pt-20">
      Nodejs has provided the community with an easy to use, server side language. From the start, node has been supported by npm, and the community has flourished using it. Unfortunantly, node doesn't come with the fantastic features that .NET does, nor does it have a tried and tested framework like ruby on rails. So the node community has shifted, and produced many different (and awesome) packages that help bridge that gap while still maintaining all the things awesome about node. 
    </div>
    <div class="xs-pt-10">
      The problem that node now deals with is a clusterfuck of many different frameworks &amp; packages, all of which have dependencies upon dependencies upon dependencies. In fact, this dependency tree often results in node_modules directories exceeding the Winblows file path character limit. Add to that, the fact that using semver relies on the package maintainer to follow the major.minor.patch for their releases (which doesn't always happen). Couple this with a package manager that really just copies &amp; pastes files without any 'packaging', and you have the state that node is in today.
    </div>
    <div class="xs-pt-10">
      That's not to say that this doesn't have any advantages either. A huge, open source community continually optimizing, improving and enhancing the tools we use to develop with. Node also makes it a hell of a lot easier to extend and change dependencies to suit your needs. Semver suits this too; especially for package development.
    </div>
    <div class="xs-pt-10">
        But this really doesn't solve the afformentioned issues with node. However I'm excited to see how the node community can solve this, especially with the release of Node v1. There's some amazing things to come in the world of js, and I'm excited to be a part of it wherever possible.
    </div>
    <div class="xs-pt-20 blog__timestamp"> 
       <i>- April 7, 2015</i>
    </div> 
    <div class="xs-pt-20"> 
      Back to the <a class="hoverhand" ui-sref="blog.home">blog?</a>
    </div> 
  </div> 
</div>