<div class="blog__panel xs-my-40">
  <div class="xs-p-20 sm-p-40">
    <div class="t-h2 xs-pb-20">
      Rebirth
    </div>
    <div>
      It's been quite some time since I've had a few minutes to sit down and blog, but I feel it's long overdue. I'm looking back through my old posts to find some opinions I no longer hold, and others just solidified by the experiences I've had since. I've been through cycles of front end drama, back end bullshit &amp; dev ops wonder, and through it all my cynicism holds strong. I've found a new love, Golang, but not in a hipster always-chasing-the-latest-tech sort of love. No, this is more born out of the frustrations of working with the tools &amp; languages of the time. I'd have to explain where I've been to understand how I got here though so...
    </div>
     <div class="xs-pt-20 t-h4">
      Where <i>have</i> you been?
    </div>
    <div class="xs-pt-10">
      Well, I've headed up the front end of a team building a rather large Angular 1.x app. Contrary to many complaints about the 'Monolith' that is supposedly Angular, the code base is pretty simple &amp; straight-foward; controllers bind data to the markup, services (that are well tested) handle all the logic and directives &amp; filters help simplify the logic built into the controllers/services/markup. Not that Angular is the tool to solve all problems (no frameworks or languages are for that matter), but it suits this purpose quite well. Which is why I find it so odd that it seems there is a mass exodus of the framework in favour of React; something that smells awfully alot like <a href="http://blog.cleancoder.com/uncle-bob/2016/07/27/TheChurn.html">the churn</a>, instead of a well thought out upgrade to a better framework. The app itself is written in plain ES5 with shims which, looking back on it now, seems a little rustic.
    </div>
    <div class="xs-pt-10">
      Not long after the project was prematurely called a success &amp; thrown to the dogs, we began to build node es6 microservices, services which I have pushed to keep transpilation out of by taking advantage of the features of the later node versions instead of rolling over and accepting babel as a normal process for building node apps. The development experience is much simplier &amp; faster given there is no compilation steps, the debug is cleaner &amp; clearer as there are no sourcemaps to weave back into the debugger and the lack of dependencies on compilation tools means the install time is far quicker &amp; there's no risk of out-dated or deperecated tooling leaking into the project as it ages. The code definitely isn't perfect but in the process I've found an excellent method of testing node apps using mocks and booting up a web server inside of the test process:
    </div>
    <pre class="xs-mt-10">
describe('some tests', () => {

  before( done => {
    mock('some-dependency', {foo: 'bar'});
    app.listen(8765, done);
  });

  it('should do some things', done => {
    // hit a copy of your app running on port 8765, with mocked/stubbed out dependencies, 
    // doing assertions on the reponse and mocks where appropriate
  });

  after( () => {
    app.close();
  });

});
    </pre> 
    <div class="xs-pt-10">
      Because node comes with a built in tcp/http listener (instead of using Rack/IIS/some other integration layer to handle the http requests), this method of service testing is incredibly light weight and lightning fast. So much so that we would use this method for TDD instead of regular unit tests, because the assertions we made in the tests are exactly what the end user will see (in the given conditions of our mocks &amp; stubs of course). The tests are alot more robust in this way too; you can change the implementation of your app and not break a large number of tests because the unit has either been removed or replaced. This is one of the things I love about Golang; you can spin up your application with mocks/stubs inside of your test process, hit it with a rest client, and do assertions on the reponse/mocks. The set up is similar:
    </div>
    <pre class="xs-mt-10">
func init() {
  fakeServer := myApp.App {
    someDependency: fake
  }
  go fakeServer.CreateServer().RunOnAddr(":8080")
}

func TestSomething(t *testing.T) {

  var expected []map[string]string
  _, err := restclient.Do(&restclient.RequestResponse{
    Url:    "http://localhost:8080/foo/bar",
    Result: &expected,
  })
  if err != nil {
    t.Fatal(err)
  } else {
    if expected[0]["name"] != "foo" {
      t.Fatal(expected)
    }
  }

}
    </pre>
    <div class="xs-pt-10">
      The only kicker to this is that Golang http servers are blocking; that is, we can avoid the blocking behaviour by using goroutines to run the server, but we have no handle on shutting down the server or terminating the goroutine until the test process is finished and shuts down. You can work around this limitation by running each test suite on a different port, and running the tests inside a docker container can help to avoid port collisions between things already running on the host.
    </div>
    <div class="xs-pt-20 t-h4">
      Up in the Cloud&trade;
    </div>
    <div class="xs-pt-20 blog__timestamp"> 
       <i>- November 9, 2016</i>
    </div> 
    <div class="xs-pt-20"> 
      Back to the <a class="hoverhand" ui-sref="blog.home">blog?</a>
    </div> 
  </div> 
</div>
