<div class="blog__panel xs-my-40">
  <div class="xs-p-20 sm-p-40">
    <div class="t-h2 xs-pb-20">
      Well, Shit.
    </div>
    <div>
      It looks like I'm a Fed now.
    </div>
    <div class="xs-py-20 xs-t-center">
      <img src="http://i.ytimg.com/vi/bf2nhEoZNm0/maxresdefault.jpg" class="escalated"/>
    </div>
    <div class="xs-pb-20">
      It happened. I'm not sure just how I feel about it just yet, but you'll probably see more front end stuff from here on in as I fumble through day to day, experimenting with everything new.
      And don't worry, I won't be straying too far from the Angular front, but there's no reason for me to stick with the one thing, however powerful it is.
      After all, my toolkit just got a little smaller.
    </div>
    <div>
      Wish me luck!
    </div>
    <div class="xs-pt-20 blog__timestamp"> 
       <i>- March 7, 2015</i>
    </div> 
    <div class="xs-pt-20"> 
      Back to the <a class="hoverhand" ui-sref="blog.home">blog?</a>
    </div> 
  </div> 
</div>