<div class="blog__panel xs-mt-40">
  <div class="xs-p-20">
    <div>Welcome to my blog! Here you can listen to me complain about developer-related things, pick on companies/people I don't like and maybe learn a thing or two on the way. As the title suggests, I am a developer. A software developer to be precise. <a class="hoverhand" ui-sref="blog.post({ blogPost: 'first-post' })">This</a> can serve as sort of my back story, a personal profile if you will. You may get to know me better if you continue to read, but I assure you that is probably not a good thing.</div>
    <div class="xs-pt-10">Check out my latest post <a class="hoverhand" ui-sref="blog.post({blogPost: '{{model.latestPost.partial}}' })">here</a>. For any of my other posts, see <a class="hoverhand" ui-sref="blog.archive">the archive</div>
  </div> 
</div>