<div class="blog">
  <div class="bg-1 blog__header">
    <div class="xs-py-40 xs-px-20 xs-t-center">
      <div class="t-h1 xs-pb-5">Dev Tales</div>
      <div class="t-h5">The ramblings of a software dev, UX cynicist &amp; &quot;jack of all trades&quot;</div>
    </div>
  </div>
  <div class="bg-2">
    <div class="container blog__container">
      <div data-ng-show="loading">
        <div class="xs-my-40">
          <div class="loading"></div>
        </div>
        
      </div>
      
      <div ui-view></div>
    </div>
  </div>
</div>