.blog__bg-1 {
  background: #1F5996;
  color: #eee;
}

.blog__bg-2 {
  background: #3572b0;
  color: #EEE;
}

.blog__container {
  min-height: 900px;
}

.blog__panel {
  background: #FFF;
  color: #666;
  -webkit-box-shadow: 1px 1px 5px 0 #6D98AB;
  -moz-box-shadow:    1px 1px 5px 0 #6D98AB;
  box-shadow:         1px 1px 5px 0 #6D98AB;
}
