.blog {
  font-family: 'Open Sans', sans-serif;
}

.blog .bg-1 {
  background: #1F5996;
  color: #eee;
}

.blog .bg-2 {
  background: #3572b0;
  color: #EEE;
}

.blog__container {
  min-height: 80vh;
}

.blog__panel {
  background: #FFF;
  color: #666;
  -webkit-box-shadow: 1px 1px 5px 0 #6D98AB;
  -moz-box-shadow:    1px 1px 5px 0 #6D98AB;
  box-shadow:         1px 1px 5px 0 #6D98AB;
}

.blog .t-h1 {
  font-size: 4em;
  font-family: 'Crete Round', serif;
}

.blog .t-h2 {
  font-size: 3em;
  font-family: 'Crete Round', serif;
}

.blog .t-h3 {
  font-size: 2em;
  font-family: 'Crete Round', serif;
}

.blog .t-h4 {
  font-size: 1.5em;
  font-family: 'Crete Round', serif;
}

.blog .t-h5 {
  font-family: 'Crete Round', serif;
}

.blog .t-highlight {
  font-size: 1.2em;
  font-weight: 700;
}

.blog__timestamp {
  color: #999;
}

.blog ul {
  padding-left: 30px;
}

.blog .loading {
  background-image: url(/assets/images/ajax-loader.gif);
  background-size: cover;
  height: 20px;
  width: 256px;
  margin: 0 auto;
}

.blog [ui-view] {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.blog [ui-view].ng-enter {
  opacity: 0;
}

.blog [ui-view].ng-enter.ng-enter-active, .blog [ui-view].ng-leave {
  opacity: 1;
}

.blog [ui-view].ng-leave.ng-leave-active {
  display: none;
  opacity: 0;
}

.blog .img-1 {
  max-height: 300px;
  max-width: 75vw;
}

.framework {
  width: 75px;
  height: 75px;
}

@media (min-width: 768px) {
  .framework {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 992px) {
  .framework {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1200px) {
  .framework {
    width: 200px;
    height: 200px;
  }
}



.escalated {
  width: 100%;
}

@media (min-width: 992px) {
  .escalated {
    width: 60%;
  }
}